
body{
    margin-left: 600px;
    background-color: rgb(205, 234, 243);
}
.btn{
	border-radius: 50%;
	text-align: center;
  	color: red;
	padding:10px;
	margin:12px;
	font-style:bold;
}
#calc{
    align-self: center;
	border: 2px solid powderblue;
	width: 245px;
	background-color:#f0ee0f;
}
#disp{
	width:96%;
	background-color:aqua;
}
 